body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#titleContainer {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
#title {
    font-size: 24px;
    padding: 10px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#canvas {
    border: 1px solid black;
}
#status-bar {
    margin-top: 10px;
    font-weight: bold;
    border-top: 1px solid #ccc;
    padding-top: 5px;
}

.tool-buttons {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.tool-buttons button {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    border: none;
    background: #ddd;
    cursor: pointer;
}
.tool-buttons button i {
    font-size: 24px;
}
